.container{
    margin-top: 0%;
    
    .searchbar{
        height: 200px;
        margin-inline-start: 0px;
    }
}

ion-toolbar{
    --background: #4c8dff;
  }

  ion-item {
    --border-color: blue;
    .h2{
      margin-top: 80px;
      width:45px;
    .p{
      font-size:12px;
    }
    }
    
  }
  ion-button{
    width: 80px;
    height: 45px;
   

  }
