.container{
    margin-top: 0%;
    
    .searchbar{
        height: 200px;
        margin-inline-start: 0px;
    }
}

ion-toolbar{
    --background: #4c8dff;
  }

  ion-item {
    --border-color: blue;
  }
  ion-button{
    width: 60px;
    height: 40px;
   

  }

  ion-label{
    margin-top: auto;
  }