.form{
    ion-item{
      border-radius: 5px;
      border-color: rgb(201, 195, 195);
      border-width: 2px;
      border-style: solid;
      margin-bottom: 10px;
  
    }
  }
  ion-toolbar{
    --background: #4c8dff;
  }
  img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 8px solid #ffff;
    
  } 

  /*ion-content{
    --background: #537fcc;*/
    ion-item {
      --border-color: blue;
    }
    /*.container{
      background: linear-gradient(to top, #537fcc 0%, #fff 100%); 
    }*/
  

  

  
