.form{
    ion-item{
      border-radius: 5px;
      border-color: rgb(201, 195, 195);
      border-width: 2px;
      border-style: solid;
      margin-bottom: 10px;
  
    }
  }
  ion-toolbar{
    --background: #4c8dff;
  }
 
   
   