<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="hello/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-text-center">
    <img src="https://ps.w.org/invitation-based-registrations/assets/icon-128x128.png?rev=1795179"/>
    <h1>Invite Users</h1>
  </div>
    
  <div class="container ion-text-center" style="padding-left: 5%; padding-right: 5%;">
      <ion-list *ngIf="inviteForm">
        <form [formGroup]="inviteForm">    
          <ion-item>
           <ion-label position="stacked">Email</ion-label>
           <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>
  
         <ion-item>
          <ion-label position="stacked">Subject</ion-label>
          <ion-input formControlName="subject" type="text"></ion-input>
         </ion-item>

        <ion-item>
          <ion-label>Language</ion-label>
         <ion-select ionChange=change(l)>
          <ion-select-option *ngFor="let l of language" [value]='l.languageId'>{{l.languageName}}</ion-select-option>
            
         </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Message</ion-label>
          <ion-textarea formControlName="message" rows="7"></ion-textarea>
        </ion-item>
        </form>

      </ion-list>
  </div>
      <div style="padding-left: 9%; padding-right: 9%;">
       <ion-button shape='round' color='primary' (click)="onsend(inviteForm)">Send</ion-button>
       <ion-button shape='round' color='danger' (click)="cancel()">Cancel</ion-button>
      </div>

</ion-content>
